
    <div class="row">
        <div [class]="isSidePanelOpen() ? 'col-8':'col-12'">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col-6 text-white">
                            <strong>Employee Portal</strong> 
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-warning" (click)="addNew()">Add New</button> 
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- <app-my-table [columnArray]="columnList" [gridData]="employeeList"
                    (onDeleteClicked)="onDelete($event)" (onEditClicked)="onEdit($event)"
                    > </app-my-table> -->
                    <button class="btn btn-secondary" (click)="toggleFilter()">Filter</button>

                    <app-filter
                    *ngIf="showFilter"
                    [columns]="columns"
                    [gridData]="employeeList"
                    (filteredData)="updateFilteredData($event)"
                  ></app-filter>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Name</th>
                                <th>Contact No</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Department</th>  
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of filteredData; track $index) {
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.employeeName}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>{{item.gender}}</td>
                                    <td>{{item.emailId}}</td>
                                    <td>{{item.deptId}}</td> 
                                    <td>
                                        <button class="btn btn-success btn-sm" (click)="onEdit(item)">Edit</button>
                                        <button class="btn btn-danger btn-sm" (click)="onDelete(item.employeeId)">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @if(isSidePanelOpen()) {
            <div class="col-4">
                <div class="card">
                    <div class="card-header bg-secondary">
                        <div class="row">
                            <div class="col-6 text-white">
                                <strong>New Employee</strong> 
                            </div>
                            <div class="col-6 text-end">
                                <button class="btn btn-primary" (click)="close()">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="mb-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="employeeName" class="form-label">Employee Name</label>
                                    <input type="text"  class="form-control"  name="employeeName" [(ngModel)]="employeeObj.employeeName" id="employeeName" placeholder="Enter employee name">
                                </div>
                                <div class="col-md-6">
                                    <label for="contactNo" class="form-label">Contact No</label>
                                    <input type="text" class="form-control"  name="contactNo"  [(ngModel)]="employeeObj.contactNo" id="contactNo" placeholder="Enter contact number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="emailId" class="form-label">Email</label>
                                    <input type="email" class="form-control"  name="emailId"  [(ngModel)]="employeeObj.emailId" id="emailId" placeholder="Enter email">
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="deptId" class="form-label">Parent Department</label>
                                    <select id="deptId" [(ngModel)]="deptId" name="deptId" class="form-select" (change)="onDeptChage()">
                                        <option selected>Select department</option>
                                        @for (item of parentDeptList; track $index) {
                                            <option [value]="item.departmentId">{{item.departmentName}}</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="deptId" class="form-label">Child Department</label>
                                    <select id="deptId" class="form-select"  name="deptId"  [(ngModel)]="employeeObj.deptId">
                                        <option selected>Select department</option>
                                        @for (item of childDeptList; track $index) {
                                            <option [value]="item.childDeptId">{{item.departmentName}}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control"  name="password"  [(ngModel)]="employeeObj.password" id="password" placeholder="Enter password">
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6"> 
                                    <div>Select Gender</div>
                                     <input type="radio" value="Male" name="gender"  [(ngModel)]="employeeObj.gender" /> Male
                                     <input type="radio" value="FeMale" name="gender"  [(ngModel)]="employeeObj.gender" /> FeMale
                                     
                                </div>
                            </div>
                            @if(employeeObj.employeeId  ==0) {
                                <button type="button" (click)="onSaveEmp()" class="btn btn-warning mt-3">Submit</button>
    
                            } @else { 
                                <button type="button" (click)="onUpdateEmp()" class="btn btn-primary mt-3">Update</button>
                            }
                           
                           
                        </form>
                    </div>
                </div>
            </div>
        }
       
    </div>