<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr No</th>
            @for (item of columnArray; track $index) {
                <th>{{item.headerName}}</th> 
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (item of gridData; track $index) {
            <tr>
                <td>{{$index +1}}</td>
                @for (columnName of columnArray; track $index) {
                    <td> {{item[columnName.fieldName]}}  </td>
                }
                <td>
                    <button class="btn btn-outline-success btn-sm" (click)="onEditBtnClicked(item)">Edit</button>
                    <button class="btn btn-outline-danger btn-sm mx-2" (click)="onDeleteBtnClicked(item)" >Delete</button>
                </td>
            </tr>
        }
      
    </tbody>
</table>