


<div class="btn-group">
    <button type="button" class="btn btn-primary">Department</button>
    <button type="button" class="btn btn-primary">Designation</button> 
  </div>

  <div class="row pt-3">
    <div class="col-4 p-1 bg-secondary">
        <app-form-element [formElements]="departmentFieldList"> </app-form-element>
    </div>
    <div class="col-2">

    </div>
    <div class="col-4 bg-success">
        <app-form-element [formElements]="designationFiledList"> </app-form-element>
    </div>
  </div>